<ul>
  {{#each model.repo.issues as |issue|}}
    <li>
      <span class="icon-issue-opened"></span>
      {{link-to issue.title 'repo.issues' issue.id}}
      <!-- <span class="labels"><a href="#" class="label" style="background-color: orangered">Documentation</a></span> -->
      <span class="comment-count"><span class="icon-comment"></span>{{issue.commentsCount}}</span>
      <div class="issue-metadata">#{{issue.id}} opened {{issue.createdAt}} by {{issue.user.login}}</div>
    </li>
  {{/each}}
</ul>
